Library/
library
Temp/
temp/
Obj/
obj/
Build/
build/
Builds/
builds/
Assets/AssetStoreTools*
.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pidb.meta
*.pdb.meta
sysinfo.txt
*.apk
*.unitypackage